header {
  background-color: rgb(240, 92, 173);
  color: rgb(19, 255, 216);
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
}

.cartAppTitle{
  margin-left: 300px;
}

.itemCount{
  right: 12px;
  display: 'flex';
  position: relative;
  border-radius: 10px;
  background-color: aquamarine;
  height: 16px;
  width: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
}

body{
  margin: 0;
}
.totalprice{
  margin-left: 900px;
}
.total{
  margin-left: 220px;
}

.clearButton{
  color: red;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-color: red;
}


 

